DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
SECRET_KEY=generate-with-python-secrets-token-hex-32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
GROQ_API_KEY=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
ALLOWED_ORIGINS=http://localhost:3000